<app-navbar-admin></app-navbar-admin>
<div class="contenu">
  <div class="mb-3 row">
    <label for="user_pseudo" class="col-sm-1 col-form-label">Pseudo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="user_pseudo">
    </div>
  </div>

  <div class="mb-3 row" style="margin-bottom: 20px;">
    <label for="user_email" class="col-sm-1 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="user_email">
    </div>
  </div>

  <div class="mb-3 row" style="margin-bottom: 20px;">
    <label for="user_score" class="col-sm-1 col-form-label">Score</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="user_score">
    </div>
  </div>

</div>



