<app-navbar-user></app-navbar-user>
<div class="accueil">

  <h1>Quoicouquiz</h1>
  <div class="inscription">
    <div class="texteaccueil">
        <span>
          Première connexion ? Inscrivez vous !
        </span>
    </div>

    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Entrez votre adresse e-mail" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Pseudo : </label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre pseudo">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary"
                style="background: linear-gradient(90deg, #1f80ff, #7648ff); margin-bottom: 10px">S'inscrire
        </button>
      </div>
    </form>

  </div>
</div>
