<app-navbar-admin></app-navbar-admin>
<div class="contenu">
  <form [formGroup]="userForm" (ngSubmit)="create()">
    <div class="mb-3 row">
      <label for="user_pseudo" class="col-sm-1 col-form-label">Pseudo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="user_pseudo" formControlName="pseudo">
      </div>
    </div>

    <div class="mb-3 row" style="margin-bottom: 20px;">
      <label for="user_email" class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="user_email" formControlName="email">
      </div>
    </div>

    <div class="mb-3 row" style="margin-bottom: 20px;">
      <label for="user_score" class="col-sm-1 col-form-label">Score</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="user_score" formControlName="score" value="0"
               style="color: #808080;" onfocus="if(this.value==this.defaultValue)this.value='';"
               onblur="if(this.value=='')this.value=this.defaultValue;">
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <button type="submit" class="btn btn-primary"
              style="width: 100px">Créer
      </button>
    </div>
  </form>

</div>



