<app-navbar-admin></app-navbar-admin>
<div class="page">
  <div class="header">Classement :
    Nombre de points :
    <!--    <div class="points"><h4>Nombre de points : <span id="nb_points">points</span></h4></div>-->
  </div>
  <div class="title">
    <h1 class="question">Question du quiz</h1>
  </div>

  <div class="questions">
    <button>Réponse A</button>
    <button>Réponse B</button>
    <button>Réponse C</button>
    <button>Réponse D</button>
  </div>

  <!--  <div class="body_questions">-->
  <!--    <div class="prem_col">-->
  <!--      <div class="inner-rectangle">-->
  <!--        <span>Réponse A</span>-->
  <!--      </div>-->
  <!--      <div class="inner-rectangle">-->
  <!--        <span>Réponse B</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="prem_col">-->
  <!--      <div class="inner-rectangle">-->
  <!--        <span>Réponse C</span>-->
  <!--      </div>-->
  <!--      <div class="inner-rectangle">-->
  <!--        <span>Réponse D</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
