<app-navbar-admin></app-navbar-admin>
<div class="choix_quiz d-flex flex-column">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du quiz</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let quizz of quizz$ | async">
      <td>{{ quizz.id }}</td>
      <td>{{ quizz.genre }}</td>
      <td>
        <a class="btn btn-success" style="width: 32px; height: 30px; padding: 0; margin-right: 5px">
          <img src="/assets/pencil.svg" alt="Editer" routerLink="/detail_quiz/{{quizz.genre}}/{{quizz.id}}">
        </a>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary" routerLink="/creation_quiz"
            style="background: linear-gradient(90deg, #0d6efd, #0d19fd);">Créer un nouveau quiz
    </button>
  </div>

</div>
