<app-navbar-admin></app-navbar-admin>
<ng-container *ngIf="quiz$ | async; let quizz">
  <div class="contenu">
    <form (ngSubmit)="save(quizz)" #quizForm="ngForm">
      <div class="mb-3 row">
        <label for="quiz_nombre_questions" class="col-sm-1 col-form-label">Nombre de Questions</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="quiz_nombre_questions" required
                 [(ngModel)]="quizz.nombre_questions" name="nombre_questions"
                 #pseudo="ngModel">
        </div>
      </div>
      <div class="mb-3 row" style="margin-bottom: 20px;">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-10">
          <button type="button" class="btn btn-danger" (click)="deleteQuizz()" [routerLink]="'/gestion_quiz'">Supprimer le quizz</button>
          <button type="submit" class="btn btn-primary">Valider les modifications</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
