<app-navbar-admin></app-navbar-admin>
<div class="contenu">
  <div class="mb-5 row">
    <label for="quiz_name" class="col-sm-2 col-form-label">Nom du quiz</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="quiz_name">
    </div>
  </div>


  <div class="mb-3">
    <label for="question_1" class="form-label">Question 1</label>
    <textarea class="form-control" id="question_1" rows="2"></textarea>
  </div>

  <div class="mb-1 row">
    <label for="reponse_1" class="col-sm-2 col-form-label">Réponse 1 :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="reponse_1">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="reponse_2" class="col-sm-2 col-form-label">Réponse 2 :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="reponse_2">
    </div>
  </div>

</div>



