<app-navbar-admin></app-navbar-admin>
<div class="contenu">
  <form [formGroup]="quizForm">
    <div class="mb-3 row">
      <label for="quiz_genre" class="col-sm-2 col-form-label">Genre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="quiz_genre" formControlName="genre">
      </div>
    </div>

    <div class="mb-3 row" style="margin-bottom: 20px;">
      <label for="quiz_nb_questions" class="col-sm-2 col-form-label">Nombre_Questions</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="quiz_nb_questions" formControlName="nombre_questions">
      </div>
    </div>

    <div class="mb-3 row" style="margin-bottom: 20px;">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="create()" [routerLink]="'/gestion_quiz'">Créer</button>
      </div>
    </div>
  </form>

</div>

