.container {
  text-align: center;
  margin-top: 20px;
}

.input_questions {
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  width: 80%;
  margin-bottom: 10px;
}

.question-div {
  margin-bottom: 10px;
}
