<h1>Quiz Peuf</h1>

<div class="connexion_body">
  <div class="connexion">
    <span>Vous avez déja un compte ? <br>
    Connectez-vous !</span>
    <br>
    <label for="Email">Email :</label>
    <input type="text" id="nom" name="nom" required><br>
    <button>Se connecter</button>
  </div>

  <div class="inscription">
      <span>Vous avez déja un compte ? <br>
    Connectez-vous !</span>
    <br>
    <label for="Email">Email :</label>
    <input type="text" id="nom" name="nom" required><br>
    <button>Se connecter</button>
  </div>
</div>
