<div class="connexion_body">

  <div class="connexion">
    <span>Vous avez déja un compte ? <br>
    Connectez vous !</span>    <br>    <br>    <br>

    <div class="form">
      <label for="Email_connexion">Email : </label>
      <input type="text" id="Email_connexion" name="Email"
             style="margin-left: 8px"
             placeholder="Entrez votre adresse e-mail" required>
    </div>    <br>    <br>

    <button>Se connecter</button>
  </div>

  <div class="inscription">
    <span>Première connexion ? <br>
    Inscrivez vous !</span>    <br>    <br>

    <div class="form">
      <label for="Email_inscription">Email : </label>
      <input type="text" id="Email_inscription" name="Email"
             style="margin-left: 8px"
             placeholder="Entrez votre adresse e-mail" required>
    </div>    <br>

    <div class="form">
      <label for="Pseudo_inscription">Pseudo : </label>
      <input type="text" id="Pseudo_inscription" name="pseudo"
             style="margin-left: 8px"
             placeholder="Entrez votre pseudo" required><br>
    </div>    <br>

    <button>S'inscrire</button>
  </div>
</div>
