<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quoicouquiz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/gestion_quiz">Gestion quiz</a>
        <!-- Ajoutez une classe de marge droite pour augmenter l'espace -->
        <a class="nav-link ms-5" href="/gestion_user">Gestion utilisateur</a>
      </div>
    </div>
  </div>
</nav>
